<!-- holiday_filter.html -->
<div class="col-md-4">
    <div class="card mb-4 border-0 rounded-3 shadow">
        <div class="card-body">
            <form id="filter-form" method="GET">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_category" class="form-label">Категория</label>
                    <select name="category" id="id_category" class="form-select">
                        <option value="">Выберите категорию</option>
                        {% for category in categories %}
                            <option value="{{ category.name }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="id_location" class="form-label">Местоположение</label>
                    <select name="location" id="id_location" class="form-select">
                        <option value="">Выберите местоположение</option>
                        {% for location in locations %}
                            <option value="{{ location.name }}">{{ location.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Применить</button>
            </form>
        </div>
    </div>
</div>


