{% extends 'base.html' %}

{% block title %}Праздники с хештегом {{ hashtag }}{% endblock %}

{% block content %}
    <div class="row justify-content-center mt-4">
        <p class="text-center" style="font-size: 24px; margin-bottom: 20px;">Праздники с хештегом <u>{{ hashtag }}</u></p>
        <div class="col-md-8">
            <!-- Вывод праздников -->
            {% for holiday in holidays %}
                <div class="card mb-4 border-0 rounded-3 shadow">
                    <div class="card-body">
                        <h3 class="card-subtitle mb-3 text-muted">{{ holiday.name }}</h3>
                        <p class="card-text mb-4">{{ holiday.description }}</p>
                        <hr style="border-top: 1px solid #000;">
                        <p class="card-text text-muted">Местоположение: {{ holiday.location }}</p>
                        <p class="card-text text-right">{{ holiday.date }}</p>
                    </div>
                </div>
            {% empty %}
                <div class="card border-0 rounded-3 shadow mb-4">
                    <div class="card-body">
                        <p class="card-text text-muted text-center">Нет праздников с этим хештегом.</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
