body {
    background-color: #f0f8ff;
    /* Пастельно-голубой цвет фона */
}

header {
    background-color: #add8e6;
    /* Пастельно-синий цвет шапки */
}

footer {
    background-color: #add8e6;
    /* Пастельно-синий цвет подвала */
    color: #ffffff;
    /* Белый цвет текста */
}

#navigaton {
    margin-left: 20px;
}